.imgbanner {
  width: 100%;
}

.rgbtop,
.rgbbot {
  background: linear-gradient(
    45deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 0, 255, 1) 18%,
    rgba(0, 0, 255, 1) 30%,
    rgba(0, 240, 255, 1) 45%,
    rgba(0, 255, 0, 1) 63%,
    rgba(255, 255, 0, 1) 80%,
    rgba(255, 120, 0, 1) 90%,
    rgba(255, 0, 0, 1) 100%
  );
  background-size: 300% 300%; /* Aumentar el tamaño para permitir movimiento */
  animation: rgbBg 10s linear infinite; /* Ajustar el tiempo según prefieras */
  height: 4px;
  position: relative;
}

@keyframes rgbBg {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.rgbbot {
  position: relative;
  bottom: 4px;
}

.navbarcatycards {
  background-color: rgba(6, 6, 7, 0.377);
  margin-top: 100px;
  display: flex;
  height: auto;
}

.navbarcat {
  position: -webkit-sticky; /* Para compatibilidad con navegadores webkit */
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh; /* Esto asegura que cubra toda la pantalla en el eje vertical */
}

.lineaseparadora {
  height: auto;
  width: 5px;
  background-color: var(--colorLineaSeparadora);
}

.buttonsfiltros {
  display: flex;
  flex-direction: row;
}

.divtituloproductosdestacados {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.productosdestacados {
  color: white;
}

.cards {
  gap: 90px;
  padding: 70px;
  display: flex;
  flex-wrap: wrap;
}
