.inputsearchbar {
  height: 50px;
  width: 380px;
  font-size: 20px;
  padding: 5px;
  border: 3px solid transparent;
  border-radius: 5px;
  outline: none;
  background-image: linear-gradient(white, white),
    linear-gradient(
      45deg,
      rgba(255, 0, 0, 1) 0%,
      rgba(255, 0, 255, 1) 18%,
      rgba(0, 0, 255, 1) 30%,
      rgba(0, 240, 255, 1) 45%,
      rgba(0, 255, 0, 1) 63%,
      rgba(255, 255, 0, 1) 80%,
      rgba(255, 120, 0, 1) 90%,
      rgba(255, 0, 0, 1) 100%
    );
  background-origin: border-box;
  background-clip: padding-box, border-box;
  background-size: 300% 300%; /* Aumentamos el tamaño para permitir el movimiento */
  animation: rgb-border 3s linear infinite;
}

@keyframes rgb-border {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.searchbardiv {
  display: flex;
  position: relative;
}

.lupa {
  position: absolute;
  right: 10px;
  font-size: 25px;
  top: 10px;
  cursor: pointer;
}

/* Estilos Responsivos */
@media (max-width: 768px) {
  .inputsearchbar {
    width: 100%; /* Hace que la barra de búsqueda ocupe el ancho completo en pantallas pequeñas */
    font-size: 18px; /* Ajusta el tamaño de fuente */
    height: 45px; /* Ajusta la altura de la barra de búsqueda */
  }

  .lupa {
    font-size: 20px; /* Reduce el tamaño del icono en pantallas más pequeñas */
    top: 8px; /* Ajusta la posición del icono */
    right: 15px; /* Ajusta el margen derecho del icono */
  }
}

@media (max-width: 480px) {
  .inputsearchbar {
    font-size: 16px; /* Reduce aún más el tamaño de fuente */
    height: 40px; /* Ajusta la altura de la barra de búsqueda */
  }

  .lupa {
    font-size: 18px; /* Reduce aún más el tamaño del icono */
    top: 7px; /* Ajusta la posición del icono */
    right: 10px; /* Ajusta el margen derecho del icono */
  }
}
