.divCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px; /* Manteniendo el ancho de las cards */
  border-radius: 5px;
  background-color: #1b1f38;
  box-shadow: 0 0px 15px rgba(255, 255, 255, 0.418);
  padding: 20px;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  justify-content: space-between;
  height: 400px; /* Manteniendo la altura */
}

.divCard:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 8px 8px 15px rgba(48, 139, 127, 0.555);
  border-color: #ffd700; /* Border color on hover */
}

.imgcard {
  width: 100%;
  height: 180px;
  object-fit: cover;
  transition: filter 0.3s ease; /* Optimización de transición */
}

.divCard:hover .imgcard {
  filter: brightness(1.1);
}

.namecard {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin: 10px 0;
}

.pricecard {
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center; /* Manteniendo el precio centrado */
}

.buttoncard {
  background-color: var(--colorLineaSeparadora);
  color: #1b1f38;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-size: 16px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  gap: 7px;
  box-shadow: 0 5px 10px rgba(0, 255, 240, 0.2);
}

.buttoncard:hover {
  background-color: #ffd700;
  transform: translateY(-3px);
  box-shadow: 0 8px 16px rgba(0, 255, 240, 0.3);
}

/* Estilos Responsivos */
@media (max-width: 768px) {
  .divCard {
    width: 80%; /* Hacer las tarjetas más pequeñas en pantallas medianas */
    margin: 15px 0;
    height: auto; /* Permitir ajuste automático de la altura */
  }

  .namecard {
    font-size: 16px; /* Achicar el tamaño de fuente */
  }

  .pricecard {
    font-size: 18px; /* Achicar el tamaño de precio */
  }

  .buttoncard {
    font-size: 14px; /* Ajustar el tamaño del botón */
    padding: 8px 16px;
  }
  .imgcard {
    width: 100%;
    height: 180px;
    object-fit: cover;
    transition: filter 0.3s ease; /* Optimización de transición */
  }
}

@media (max-width: 480px) {
  .divCard {
    width: 100%; /* Usar todo el ancho de la pantalla en dispositivos móviles */
    padding: 15px;
    margin: 10px 0;
    height: auto;
  }

  .namecard {
    font-size: 14px; /* Ajustar el tamaño de la fuente en pantallas pequeñas */
  }

  .pricecard {
    font-size: 16px; /* Reducir el tamaño del precio */
  }

  .buttoncard {
    font-size: 12px; /* Reducir el tamaño del botón */
    padding: 7px 14px;
  }
  .imgcard {
    width: 100%;
    height: 180px;
    object-fit: cover;
    transition: filter 0.3s ease; /* Optimización de transición */
  }
}
