.navbar {
  padding: 0 150px;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Centramos la navbar */
}

.icon {
  width: 210px;
  margin-right: auto; /* Empuja el ícono hacia la izquierda */
}

.titleproductos {
  color: white;
  font-size: 1.3rem;
  text-decoration: none;
  margin-left: auto; /* Empuja el título hacia la derecha */
}

/* Estilos Responsivos */
@media (max-width: 1024px) {
  .navbar {
    padding: 0 50px; /* Reduce el padding para pantallas de tablet */
    gap: 30px;
    margin-bottom: 30px;
  }

  .icon {
    width: 160px; /* Reduce el tamaño del ícono en tablets */
  }

  .titleproductos {
    font-size: 1.2rem; /* Ajusta el tamaño de la fuente en tablets */
  }
}

@media (max-width: 768px) {
  .navbar {
    padding: 0 20px;
    flex-direction: column; /* Coloca la navbar en columna en pantallas más pequeñas */
  }

  .icon {
    margin-bottom: 10px; /* Espaciado entre el ícono y el título */
  }

  .titleproductos {
    font-size: 1.1rem;
  }
}

@media (max-width: 480px) {
  .navbar {
    padding: 0 10px;
  }

  .icon {
    width: 120px; /* Ajuste para pantallas muy pequeñas (móviles) */
  }

  .titleproductos {
    font-size: 1rem; /* Reduce el tamaño de la fuente para pantallas móviles */
  }
}
