.navbarcat {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px;
  width: 350px;
}

.navbarcat a {
  color: white;
  font-size: 1.5rem; /* Mantiene el tamaño original en desktop */
  font-weight: bold;
  width: fit-content;
  font-family: "Roboto", sans-serif;
  position: relative;
  text-decoration: none;
  padding: 10px;
  transition: font-size 0.3s ease; /* Transición suave */
}

.navbarcat a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffd700;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.navbarcat a:hover::before {
  visibility: visible;
  width: 100%;
}

/* Título del toggle en responsive */
.toggleTitle {
  display: none; /* Oculto en desktop */
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 10px;
}

/* Estilos Responsivos */
@media (max-width: 768px) {
  .navbarcat {
    width: 100%; /* Ajusta el ancho al 100% en responsive */
    padding: 0;
  }

  /* Título del toggle en responsive */
  .toggleTitle {
    display: none; /* Oculto en desktop */
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 10px;
    padding: 7px;
    display: flex; /* Usamos flex para alinear la flecha a la derecha */
    justify-content: space-between; /* Alinea el texto a la izquierda y la flecha a la derecha */
    align-items: center; /* Alinea verticalmente */
  }

  .navbarcat.closed {
    display: none; /* Oculta el menú si está cerrado */
  }

  .navbarcat a {
    font-size: 10px; /* Reduce el tamaño de las categorías en responsive */

    color: white;
  }

  .navbarcat.open {
    display: flex; /* Muestra el menú cuando está abierto */
  }
}
