/* importo fuente Roboto*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  background-color: #131922;
  --colordeFondo: #0736e269;
  --degradadoColorDeFondoProductos: linear-gradient(
    #000000 -25%,
    var(--colordeFondo)
  );
  --colorLineaSeparadora: #42bed4f6;
}

body {
  background: var(--degradadoColorDeFondo);
  background-repeat: no-repeat;
  min-height: 100vh;
}

a {
  text-decoration: none;
}
